[Unit]
Description=Configure Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=python /home/gregoire/.dotfiles/wacom-config.py

[Install]
WantedBy=graphical-session.target
